
.deal-block12 { background:#f1f1f1; border-bottom:1px solid #ccc; padding:10px; margin-bottom:10px; border-radius:6px;  }
.deal-block12:hover { background:#f1f1f1; background-image:linear-gradient(#f1f1f1, #ddd); border-bottom:1px solid #026dc5; padding:10px; margin-bottom:10px;  }
.deal-block12 b { font-size:18px; color:#555; } 
.deal-block12 span { font-size:18px; color:#026dc5; font-weight:bold; } 

.broadcram  { font-size:12px; float:right; color:#666; }
.broadcram .fa { margin:0 10px; color:#666; }

	a { color:#026dc5; text-decoration:none }
	a:hover { color:#026dc5; text-decoration:underline; }
.bull .fa { padding-right:10px; }


/******* Airline logo's colarge  css */

.Airline_2B{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 5px -1153px transparent;}
.Airline_2K{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1186px transparent;}
.Airline_3K{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1213px transparent;}
.Airline_3L{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1251px transparent;}
.Airline_3P{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1288px transparent;}
.Airline_4Q{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1378px transparent;}
.Airline_3E{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -3940px transparent;}

.Airline_4U {
    background:url(../images/airline/a4.gif) no-repeat scroll -1px -3100px transparent;
    height: 33px;
    width: 55px;
}
.Airline_4Z{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1484px transparent;}
.Airline_5J{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1559px transparent;}
.Airline_5L{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1601px transparent;}
.Airline_5T{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1634px transparent;}
.Airline_7B{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1671px transparent;}
.Airline_7D{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1707px transparent;}
.Airline_7F{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1749px transparent;}
.Airline_7I{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 3px -1785px transparent;}
.Airline_9B{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1823px transparent;}
.Airline_9F{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1864px transparent;}
.Airline_9H{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1895px transparent;}
.Airline_9K{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1928px transparent;}
.Airline_9M{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1965px transparent;}
.Airline_9U{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -1998px transparent;}
.Airline_9V{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -2029px transparent;}
.Airline_9W{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2065px transparent;}
.Airline_A3{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -2133px transparent;}
.Airline_A6{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -2px -2194px transparent;}
.Airline_A7{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -2220px transparent;}
.Airline_A9{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -2254px transparent;}
.Airline_AB{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2338px transparent;}
.Airline_AC{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2375px transparent;}
.Airline_AE{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2411px transparent;}
.Airline_AF{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2504px transparent;}
.Airline_AI{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2582px transparent;}
.Airline_AK{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2624px transparent;}
.Airline_AM{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2667px transparent;}
.Airline_AN{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2739px transparent;}
.Airline_AO{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2786px transparent;}
.Airline_AP{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2826px transparent;}
.Airline_AQ{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2862px transparent;}
.Airline_AR{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2892px transparent;}
.Airline_AS{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2928px transparent;}
.Airline_AT{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2962px transparent;}
.Airline_AV{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2992px transparent;}
.Airline_9X{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3905px transparent;}

.Airline_HM {
    background:url(../images/airline/a4.gif) no-repeat scroll -1px -2960px transparent;
    height: 33px;
    width: 55px;
}


.Airline_KM {
    background:url(../images/airline/a4.gif) no-repeat scroll -1px -3005px transparent;
    height: 33px;
    width: 55px;
}

.Airline_AY{ width:55px; height: 18px; background: url(../images/airline/A1.gif) no-repeat scroll -1px -3025px transparent;}
.Airline_AZ{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3039px transparent;}
.Airline_AZ_L{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3066px transparent;}
.Airline_B2{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3100px transparent;}
.Airline_B3{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3142px transparent;}
.Airline_B6{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3172px transparent;}
.Airline_B7{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3201px transparent;}
.Airline_BA{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3234px transparent;}
.Airline_BD{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3274px transparent;}
.Airline_BE{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3309px transparent;}
.Airline_BG{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3346px transparent;}
.Airline_BI{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3388px transparent;}
.Airline_BJ{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3424px transparent;}
.Airline_BP{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3455px transparent;}
.Airline_BR{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3487px transparent;}
.Airline_BT{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3530px transparent;}
.Airline_bulgaria{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3569px transparent;}
.Airline_BW{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3606px transparent;}
.Airline_BX{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3636px transparent;}
.Airline_C9{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3669px transparent;}
.Airline_CA{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3710px transparent;}	
.Airline_CI{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -3745px transparent;}


.Airline_CJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -4px transparent;}
.Airline_CM{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -43px transparent;}
.Airline_CO{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -88px transparent;}
.Airline_CU{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -128px transparent;}
.Airline_CX{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -171px transparent;}
.Airline_CY{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -214px transparent;}
.Airline_CZ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -255px transparent;}
.Airline_D3{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -294px transparent;}
.Airline_D5{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -333px transparent;}
.Airline_DE{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -372px transparent;}
.Airline_DJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -456px transparent;}
.Airline_DL{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -497px transparent;}
.Airline_EB{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -530px transparent;}
.Airline_EC{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -563px transparent;}
.Airline_EI{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -601px transparent;}
.Airline_EK{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -637px transparent;}
.Airline_EL{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -669px transparent;}
.Airline_EN{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -703px transparent;}
.Airline_EO{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -737px transparent;}
.Airline_ET{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -770px transparent;}
.Airline_EW{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -805px transparent;}
.Airline_EY{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -868px transparent;}
.Airline_F7{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -913px transparent;}
.Airline_F9{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -942px transparent;}
.Airline_FB{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -979px transparent;}
.Airline_FI{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1013px transparent;}
.Airline_FJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1050px transparent;}
.Airline_FL{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1084px transparent;}
.Airline_FM{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1122px transparent;}
.Airline_FR{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1163px transparent;}
.Airline_FV{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1200px transparent;}
.Airline_FZ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1233px transparent;}
.Airline_GO{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1267px transparent;}
.Airline_G3{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1303px transparent;}
.Airline_GA{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1347px transparent;}
.Airline_GF{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1385px transparent;}
.Airline_GJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1421px transparent;}
.Airline_GO{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1456px transparent;}
.Airline_HA{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1494px transparent;}
.Airline_HG{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1527px transparent;}
.Airline_HP{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1559px transparent;}
.Airline_HR{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1595px transparent;}
.Airline_HU{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1633px transparent;}
.Airline_HY{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1672px transparent;}
.Airline_I5{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1712px transparent;}
.Airline_IB{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1745px transparent;}
.Airline_IC{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1787px transparent;}
.Airline_IG{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1829px transparent;}
.Airline_IQ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1866px transparent;}
.Airline_IR{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1905px transparent;}
.Airline_IT{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -1986px transparent;}
.Airline_IY{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2026px transparent;}
.Airline_IZ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2099px transparent;}
.Airline_J2{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2140px transparent;}
.Airline_JJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2175px transparent;}
.Airline_JK{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2211px transparent;}
.Airline_JL{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2290px transparent;}
.Airline_JM{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2327px transparent;}
.Airline_JO{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2368px transparent;}
.Airline_JP{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2403px transparent;}
.Airline_JQ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2432px transparent;}
.Airline_JU{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2462px transparent;}
.Airline_KA{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2499px transparent;}
.Airline_KC{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2536px transparent;}
.Airline_KE{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2577px transparent;}
.Airline_KF{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2646px transparent;}
.Airline_KJ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2678px transparent;}
.Airline_KK{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2713px transparent;}
.Airline_KL{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2742px transparent;}
.Airline_KM{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2778px transparent;}
.Airline_KQ{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2836px transparent;}
.Airline_KU{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll 0px -2875px transparent;}

.Airline_MD { background: url(../images/airline/a4.gif) no-repeat scroll -1px -3135px transparent; height: 33px; width: 55px; }
.Airline_KX { background: url(../images/airline/a4.gif) no-repeat scroll -1px -3180px transparent; height: 33px; width: 55px; }
.Airline_MJ { background: url(../images/airline/a4.gif) no-repeat scroll -1px -3222px transparent; height: 33px; width: 55px; }

.Airline_KZ{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -4px transparent;}
.Airline_LA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -35px transparent;}
.Airline_LG{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -70px transparent;}
.Airline_LH{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -113px transparent;}
.Airline_LI{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -148px transparent;}
.Airline_LN{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -178px transparent;}
.Airline_LO{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -208px transparent;}
.Airline_LP{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -243px transparent;}
.Airline_LR{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -270px transparent;}
.Airline_LT{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -310px transparent;}
.Airline_LW{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -347px transparent;}
.Airline_LX{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -381px transparent;}
.Airline_LY{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -412px transparent;}
.Airline_MA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -446px transparent;}
.Airline_major{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -491px transparent;}
.Airline_Major_Europe_Airline{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -537px transparent;}
.Airline_Major_European_Airline{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -582px transparent;}
.Airline_Major_KL{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -625px transparent;}
.Airline_Major_MidEast-_Airline{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -668px transparent;}
.Airline_Major_NW{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -709px transparent;}
.Airline_Major_US_Airline1{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -749px transparent;}
.Airline_Major_US_Airline2{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -793px transparent;}
.Airline_Major_USA_Airline{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -835px transparent;}

.Airline_Major_US_Airline{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2296px transparent;}
.Airline_AA { background: url(../images/airline/a5.gif) no-repeat scroll -1px -167px transparent; height:33px; width:55px; }

.Airline_MajorAALogo{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -956px transparent;}
.Airline_MajorUsLogo{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -994px transparent;}
.Airline_ME{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1035px transparent;}
.Airline_MF{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1080px transparent;}
.Airline_MH{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1121px transparent;}
.Airline_MI{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1164px transparent;}
.Airline_MK{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1207px transparent;}
.Airline_MP{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1244px transparent;}
.Airline_MS{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1289px transparent;}
.Airline_MU{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1332px transparent;}
.Airline_MUA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1379px transparent;}
.Airline_MW{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1416px transparent;}
.Airline_MX{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1455px transparent;}
.Airline_NE{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1490px transparent;}
.Airline_NH{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1522px transparent;}
.Airline_NK{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1553px transparent;}
.Airline_NW{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1584px transparent;}
.Airline_NX{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1626px transparent;}
.Airline_NZ{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1668px transparent;}
.Airline_OA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1744px transparent;}
.Airline_OK{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1786px transparent;}
.Airline_OM{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1825px transparent;}
.Airline_OS{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1848px transparent;}
.Airline_OT{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1885px transparent;}
.Airline_OU{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1913px transparent;}
.Airline_OV{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1951px transparent;}
.Airline_OZ{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -1990px transparent;}
.Airline_P1{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2021px transparent;}
.Airline_PC{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2058px transparent;}
.Airline_PD{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2092px transparent;}
.Airline_PG{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2128px transparent;}
.Airline_PK{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2167px transparent;}
.Airline_PR{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2208px transparent;}
.Airline_PS{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2254px transparent;}
.Airline_PU{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2285px transparent;}
.Airline_PX{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2321px transparent;}
.Airline_PY{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2361px transparent;}
.Airline_PZ{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2396px transparent;}
.Airline_QA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2433px transparent;}
.Airline_QF{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2474px transparent;}
.Airline_QI{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2518px transparent;}
.Airline_QM{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2565px transparent;}
.Airline_QR{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2605px transparent;}
.Airline_QV{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2650px transparent;}
.Airline_R7{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2688px transparent;}
.Airline_RB{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2726px transparent;}
.Airline_RG{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2763px transparent;}
.Airline_RJ{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2801px transparent;}
.Airline_RO{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2843px transparent;}
.Airline_RV{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2884px transparent;}
.Airline_S2{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2921px transparent;}
.Airline_S3{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2954px transparent;}
.Airline_S7{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -2996px transparent;}
.Airline_SA{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -3042px transparent;}
.Airline_SC{ width:55px; height:33px; background:url(../images/airline/A3.gif) no-repeat scroll 0px -3082px transparent;}

.Airline_SE{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -4px transparent;}
.Airline_SK{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -46px transparent;}
.Airline_SN{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -86px transparent;}
.Airline_SQ{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -127px transparent;}
.Airline_SS{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -161px transparent;}
.Airline_ST{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -196px transparent;}
.Airline_SU{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -236px transparent;}
.Airline_SV{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -272px transparent;}
.Airline_SY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -310px transparent;}
.Airline_TA{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -343px transparent;}
.Airline_TE{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -383px transparent;}
.Airline_TF{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -421px transparent;}
.Airline_TG{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -461px transparent;}
.Airline_TK{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -498px transparent;}
.Airline_TM{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -541px transparent;}
.Airline_TN{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -580px transparent;}
.Airline_TP{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -613px transparent;}
.Airline_TR{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -646px transparent;}
.Airline_TS{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -687px transparent;}
.Airline_TU{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -724px transparent;}
.Airline_TX{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -763px transparent;}
.Airline_U5{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -794px transparent;}
.Airline_U6{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -824px transparent;}
.Airline_UA{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -864px transparent;}
.Airline_UF{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -894px transparent;}
.Airline_UL{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -928px transparent;}
.Airline_UO{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1013px transparent;}
.Airline_UP{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1054px transparent;}
.Airline_US{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1097px transparent;}
.Airline_UX{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1131px transparent;}
.Airline_V2{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1163px transparent;}
.Airline_V3{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1200px transparent;}
.Airline_VA{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1233px transparent;}
.Airline_VF{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1265px transparent;}
.Airline_VG{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1301px transparent;}
.Airline_VH{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1335px transparent;}
.Airline_VK{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1365px transparent;}
.Airline_VN{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1395px transparent;}
.Airline_VO{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1430px transparent;}
.Airline_VR{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1467px transparent;}
.Airline_VS{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1499px transparent;}
.Airline_VT{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1533px transparent;}
.Airline_VU{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1568px transparent;}
.Airline_VV{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2826px transparent;}  
.Airline_VX{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1602px transparent;}
.Airline_VY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1635px transparent;}
.Airline_W3{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1671px  transparent;}
.Airline_WB{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1708px  transparent;}
.Airline_WF{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1737px  transparent;}
.Airline_WN{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1767px  transparent;}
.Airline_WP{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -1799px transparent;}
.Airline_WS{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -1829px transparent;}	
.Airline_WY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -1863px transparent;}
.Airline_WZ{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -1903px transparent;}
.Airline_XM{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -1974px transparent;}
.Airline_XQ{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2011px transparent;}
.Airline_YK{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2050px transparent;}
.Airline_YM{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2090px transparent;}
.Airline_VY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2127px transparent;}
.Airline_YX{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2162px transparent;}
.Airline_Z6{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2204px transparent;}
.Airline_ZD{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2243px transparent;}
.Airline_ZE{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2281px transparent;}
.Airline_ZF{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2317px transparent;}
.Airline_ZH{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2359px transparent;}
.Airline_ZI{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2396px transparent;}
.Airline_ZJ{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2433px transparent;}
.Airline_ZK{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2477px transparent;}
.Airline_ZO{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2519px transparent;}
.Airline_ZQ{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2555px transparent;}
.Airline_ZR{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2594px transparent;}
.Airline_ZS{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2631px transparent;}
.Airline_ZU{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2666px transparent;}
.Airline_ZV{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2704px transparent;}
.Airline_ZW{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2743px transparent;}
.Airline_ZY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll 0px -2780px transparent;}
.Airline_YV{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll 0 -3783px transparent;}
.Airline_AF_L{ width:55px; height:33px; background:url(../images/airline/A1.gif) no-repeat scroll -1px -2542px transparent;}
.Airline_DY{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -2868px transparent;}
.Airline_S4{ width:55px; height:33px; background:url(../images/airline/a4.gif) no-repeat scroll -1px -2914px transparent;}
.Airline_7R { background: url(../images/airline/A1.gif) no-repeat scroll -1px -3826px transparent; height: 33px; width: 55px; }
.Airline_UN { background: url(../images/airline/A1.gif) no-repeat scroll -1px -3866px transparent; height: 33px; width: 55px; }
.Airline_3M { background: url(../images/airline/A3.gif) no-repeat scroll -1px -3126px transparent; height: 33px; width: 55px; }
.Airline_BB{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -2955px transparent;}
.Airline_4B{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -3092px transparent;}
 /* End Airline colarge logo css */

.Airline_SX {
    background:url(../images/airline/a4.gif) no-repeat scroll -1px -3052px transparent;
    height: 33px;
    width: 55px;
}
.Airline_KS { background: url(../images/airline/a4.gif) no-repeat scroll -1px -3263px transparent; height: 33px; width: 55px; }

.Airline_OR {
    background: url(../images/airline/A3.gif) no-repeat scroll -1px -3160px transparent;
    height: 33px;
    width: 55px;
}

.Airline_WG{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -2987px transparent;}

.Airline_WG{ width:55px; height:33px; background:url(../images/airline/A2.gif) no-repeat scroll -1px -2987px transparent;}

.Airline_8P { background: url(../images/airline/A2.gif) no-repeat scroll -1px -3020px transparent; height: 33px; width: 55px; }
.Airline_JV { background: url(../images/airline/A2.gif) no-repeat scroll -1px -3047px transparent; height: 33px; width: 55px; }

.Airline_UM { background: url(../images/airline/a5.gif) no-repeat scroll -1px -63px transparent; height:33px; width:55px; }
.Airline_VW {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -104px rgba(0, 0, 0, 0);
    height: 33px;
    width: 55px;
}
.Airline_EQ { background: url(../images/airline/a5.gif) no-repeat scroll -1px -97px transparent; height:33px; width:55px; }

.Airline_K5 { background: url(../images/airline/a5.gif) no-repeat scroll -1px -2px transparent; height:33px; width:55px; }
.Airline_4M { background: url(../images/airline/a5.gif) no-repeat scroll -1px -247px transparent; height:33px; width:55px; }

.Airline_H2 { background: url(../images/airline/a5.gif) no-repeat scroll -1px -32px transparent; height:33px; width:55px; }
.Airline_WX { background: url(../images/airline/a5.gif) no-repeat scroll -1px -279px transparent; height:33px; width:55px; }
.Airline_UT { background: url(../images/airline/a5.gif) no-repeat scroll -1px -308px transparent; height:33px; width:55px; }

.Airline_YC { background: url(../images/airline/a5.gif) no-repeat scroll -1px -332px transparent; height:33px; width:55px; }

.Airline_5N { background: url(../images/airline/a5.gif) no-repeat scroll -1px -360px transparent; height:33px; width:55px; }

.Airline_K2{ background: url(../images/airline/a5.gif) no-repeat scroll -1px -385px transparent; height:33px; width:55px; }
.Airline_AD{ background: url(../images/airline/a5.gif) no-repeat scroll -1px -411px transparent; height:33px; width:55px; }
.Airline_2N{ background: url(../images/airline/a5.gif) no-repeat scroll -1px -444px transparent; height:33px; width:55px; }

.Airline_WM {
    background: url("../images/airline/a5.gif") no-repeat scroll -1px -484px transparent;
    height: 33px;
    width: 55px;
}
.Airline_KQ {
    background: url("../images/airline/a5.gif") no-repeat scroll -1px -555px transparent;
    height: 33px;
    width: 55px;
}
.Airline_4O {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -591px transparent;
    height: 33px;
    width: 55px;
}

.Airline_Y4 {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -624px transparent;
    height: 33px;
    width: 55px;
}

.Airline_VW {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -664px transparent;
    height: 33px;
    width: 55px;
}

.Airline_G4 {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -698px transparent;
    height: 33px;
    width: 55px;
}

.Airline_WW {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -728px transparent;
    height: 33px;
    width: 55px;
}

.Airline_8I {
    background: url(../images/airline/a5.gif) no-repeat scroll -1px -759px transparent;
    height: 33px;
    width: 55px;
}
