.guide_phn_div li.mega-dropdown > a, .guide_phn_div li.mega-dropdown > a:focus, .guide_phn_div li.mega-dropdown > a:hover, .guide_phn_div li.mega-dropdown > a:active{background:none;}

.navbar-nav>li>.dropdown-menu {
    /*margin-top:20px;*/
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  width:auto;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
	border-radius:0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #f17f21;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    right: 7px;
    z-index: 10;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.mega-dropdown > ul.mega-dropdown-menu{transition:all ease 0.8s; -moz-transition:all ease 0.8s; -ms-transition:all ease 0.8s; -o-transition:all ease 0.8s; -webkit-transition:all ease 0.8s;}