html,body{margin:0 !important;padding:0 !important;height:100%;font-family:'Roboto-Regular';}
a:focus{outline:none;}
@font-face{font-family:'DINPro-Light';src:url('../fonts/DINPro-Light.eot');src:url('../fonts/DINPro-Light.woff2') format('woff2'), url('../fonts/DINPro-Light.woff') format('woff'), url('../fonts/DINPro-Light.ttf') format('truetype'), url('../fonts/DINPro-Light.svg#Roboto-Light') format('svg'), url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Light';src:url('../fonts/roboto/Roboto-Light/Roboto-Light.eot');src:url('../fonts/roboto/Roboto-Light/Roboto-Light.woff2') format('woff2'), url('../fonts/roboto/Roboto-Light/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light/Roboto-Light.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg'), url('../fonts/roboto/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Regular';src:url('../fonts/roboto/Roboto-Regular/Roboto-Regular.eot');src:url('../fonts/roboto/Roboto-Regular/Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg'), url('../fonts/roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('../fonts/roboto/Roboto-Bold/Roboto-Bold.eot');src:url('../fonts/roboto/Roboto-Bold/Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold/Roboto-Bold.svg#Roboto-Regular') format('svg'), url('../fonts/roboto/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}
.Font-Regular{font-family:'Roboto-Regular';}
.Font-Light{font-family:'Roboto-Light';}
.Font-Thin{font-family:'Roboto-Thin';}
.Font-Bold{font-family:'Roboto-Bold';}
.nav-wrapper{position:fixed;left:0;width:100%;z-index:5;}
.no-padding{padding:0px;}
.padding-sq{padding:10px !important;}
.padding-add-day{padding:11px 15px;}
.padding-social-icon{padding:0 5px;}
.padding-sm-square{padding:5px;}
.padding-xsm-square{padding:3px !important;}
.padding-right{padding-right:10px;}
.no-padding-right{padding-right:0px !important;padding-left:5px;}
.padding-sm-right{padding-right:5px;}
.padding-md-right{padding-right:20px;}
.padding-lg-right{padding-right:30px;}
.padding-left{padding-left:10px !important;}
.padding-xlg-left{padding-left:30px;}
.no-padding-left{padding-left:0px;}
.padding-sm-left{padding-left:5px;}
.padding-md-left{padding-left:20px;}
.padding-lg-left{padding-left:30px;}
.padding-bottom{padding-bottom:10px;}
.no-padding-top{padding-top:0px;}
.no-padding-bottom{padding-bottom:0px;}
.padding-top{padding-top:10px;}
.padding-sm-top{padding-top:5px;}
.padding-md-top{padding-top:20px;}
.padding-md-bottom{padding-bottom:20px;}
.padding-sm-bottom{padding-bottom:5px;}
.padding-lg-bottom{padding-bottom:30px;}
.padding-lg-top{padding-top:30px;}
.padding-xlg-top{padding-top:40px;}
.no-margin{margin:0px;}
.margin-tp-btm{margin:40px 0 0 0;}
.margin-top{margin-top:10px;}
.margin-sm-top{margin-top:5px;}
.serach_left_part{margin-top:5px;margin-bottom:0px;}
.margin-md-top{margin-top:20px;}
.margin-lg-top{margin-top:30px;}
.margin-xlg-top{margin-top:40px;}
.margin-bottom{margin-bottom:10px;}
.margin-sm-bottom{margin-bottom:5px;}
.no-margin-bottom{margin-bottom:0px;}
.margin-md-bottom{margin-bottom:20px;}
.margin-left{margin-left:10px;}
.margin-sm-right{margin-right:5px;}
.margin-md-left{margin-left:20px;}
.margin-xs-left{margin-left:30px;}
.margin-right{margin-right:10px;}
.margin-md-right{margin-right:20px;}
.margin-top-minus{margin-top:-3px;}
.Return_margin{margin:28px 0 28px;}
.pad_big{padding-top:60px!important;padding-bottom:45px!important;}
.no-margin-top{margin-top:0px;}
.main{overflow:hidden;}
.postion{position:static;left:0px;top:0px;width:100%; z-index:1;}
.postion .container{height:100%;position:relative;}
.tb-padding-div{padding-top:20px !important;padding-bottom:20px !important;}
.no-padding-rl{padding-right:0px !important;padding-left:0px !important;}
.subscribe_marg{padding-top:40px;padding-bottom:40px;min-height:155px;height:auto;}
.follow_marg{padding-top:36px;padding-bottom:36px;min-height:155px;height:auto;}
.extra_text{color:#fff;text-shadow:0 0 5px #000;font-weight:500 !important;}
.extra_text:hover{color:#f97001;outline:none;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;}
.font-28{font-size:28px;}
.extra_text:focus{color:#fff;outline:none;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;}
.font-28{font-size:28px;}
.adv_img{width:18px;}
.font-12{font-size:12px;}
.font-17{font-size:17px;}
.guide_nav{margin-left:30px;}
.error{background:rgb(251, 251, 219) none repeat scroll 0% 0%;border:1px solid rgb(255, 0, 0);}
.hist{min-height:0px;padding:5px;height:auto;margin-right:15%;min-width:330px;width:auto;}
.histry a:hover{background:#142d4b!important;color:#fff!important;}
.histry a{min-height:70px;height:auto;padding:5px !important;float:left;width:100%;border-bottom:1px dotted #CCC;}
.history_icon{float:left;width:28px;padding-right:5px;padding:7px;height:28px;border-radius:50%;color:#fff;background:#142d4b;}
.history_info{float:left;width:260px;}
.history-show{width:15px;height:20px;border-radius:3px;background-color:#F00;color:#fff;display:inline-block;text-align:center;}

.item-date{margin:0px;padding-left:10px;}
.item-title{color:#0081da;font-size:16px;padding-left:10px;}

/* Call CSS Start */
.bottom-call-bar { background: rgba(6, 6, 6, 0.83) none repeat scroll 0 0; bottom: 0; color: #fff; padding: 14px; position: fixed; width: 100%; z-index: 1 !important;}
.bottom-call-bar .text { color: #fff; font-size: 13px; font-weight: bold; margin-bottom: 5px; text-align: center;}
.bottom-call-bar a { background: #43628e none repeat scroll 0 0; border-radius: 4px; color: #fff; display: block; font-size: 16px; font-weight: bold; padding: 10px; text-align: center;}
.bottom-call-bar a:hover {  background:#365581; color: #ff0;}
.call-click a { background: #43628e none repeat scroll 0 0; border: 0 none; border-radius: 5px; color: #fff; cursor: pointer; float: right; font-size: 20px; height: 48px; line-height: 2.2em; margin: 10px 0 0; width: 80px;}
.call-click a:hover { background:#365581; color: #ff0;}
/* Call CSS End */

.h2, h2 { font-size:26px; }


.guide_nav li a{color:#bbb;font-size:14px;padding:20px 0px;margin:0 15px;-webkit-transition:ease-in-out, width .5s ease-in-out;transition:ease-in-out, width .5s ease-in-out;-moz-transition:ease-in-out, width .5s ease-in-out;-ms-transition:ease-in-out, width .5s ease-in-out;-o-transition:ease-in-out, width .5s ease-in-out;}
.guide_nav li a::after{content:'';display:block;width:0;height:1px;background:#f17f21;transition:width .5s;-moz-transition:width .5s;-ms-transition:width .5s;-o-transition:width .5s;-webkit-transition:width .5s;position:relative;top:21px;}
.guide_nav li a:hover::after{width:100%;}
.guide_nav li a:hover{color:#fff;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;background:none;}
.guide_nav > li > a.active,.guide_nav > li > a.active:focus,.guide_nav > li > a.active:active{border-bottom:1px solid #f17f21 !important;color:#fff;}
.lgn_img{margin-top:-2px;margin-right:2px;}

.border_bottom_trnsprnt{border-bottom:1px solid rgba(256, 256, 256, 0.3);}
.deal_border{border-top:0px;}
.border-white{border:1px solid #fff;}
.no-border{border:0px !important;}
.no-border-radius{border-radius:0px !important;}
.no-box-shadow{box-shadow:none !important;}
.no-bg{background:none !important;}
.save-text { text-align: center; font-size: 30px; background:rgba(255, 255, 255, 0.2) none repeat scroll 0 0; margin:0 -15px;  color: rgb(255, 255, 255); padding: 15px; text-shadow:1px 1px 2px #333;  none repeat scroll 0 0; }
.heading-h1 { font-size: 19px; text-shadow:1px 1px 2px #333; color: rgb(255, 255, 255); margin: 0px 0px 10px; }

.bg-white{background:#fff;}
.bg-orange{background:#f97001;}
.bg-gray{background-color:#e8e8e8 !important;}
.bg-d-gray{background:#1c1c1c;width:100% !important;}
.bg-l-gray{background:#e8e8e8;width:100% !important;}
.bg_trnsprnt{background:rgba(255, 255, 255, 0.7);}
.bg-blue{background:#0b638b;}
.bg-d-blue{background:#075173;}

.logo_width{width:170px;padding-left:10px;}
.toll-free{color:#142d4b;font-size:21px;padding:8px 20px 6px 20px;font-weight:600;}

.guide_phn_div > li{text-transform:uppercase;margin:0px;-webkit-transition:ease-in-out, width .5s ease-in-out;transition:ease-in-out, width .5s ease-in-out;-moz-transition:ease-in-out, width .5s ease-in-out;-ms-transition:ease-in-out, width .5s ease-in-out;-o-transition:ease-in-out, width .5s ease-in-out;position:none!important;}
.guide_phn_div li img{padding-right:1px;margin-top:-2px;width:15px;}
.guide_phn_div > li a{color:rgba(0, 0, 0, 1);font-size:14px;padding:13px 6px;font-weight:400;}
.guide_phn_div > li a:focus{background:transparent;}
.guide_phn_div > li::after{content:'';display:block;width:0;height:2px;background:#D0341E;transition:width .5s;-moz-transition:width .5s;-ms-transition:width .5s;-o-transition:width .5s;-webkit-transition:width .5s;position:relative;top:2px;}
.guide_phn_div li:hover::after{width:100%;}
.guide_phn_div li a:hover{color:rgba(0, 0, 0, 1);transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;background:none}
.guide_phn_div > li.active,.guide_phn_div > li.active:focus,.guide_phn_div > li.active:active{border-bottom:2px solid #d0341e !important;color:rgba(0, 0, 0, 1);}
.guide_phn_div li.toll-free::after{width:0%;}
.guide_phn_div li.divider_div{color:rgba(194, 194, 194, 0.5);font-size:14px;padding:3px 8px;margin:16px 0px;}
.guide_phn_div li a.united_div{padding:3px 6px;margin:16px 0px;}
.guide_phn_div > li.dropdown_1.active,.guide_phn_div > li.dropdown_1.active:focus,.guide_phn_div > li.dropdown_1.active:active{border:none!important;}

.text-yellow{color:#ffc000;}
.text-white{color:#fff;}


.search_engine{margin:90px 0 40px 0;}
.engin_div{background:rgba(10, 22, 37, 0.8);z-index:1;}
.input_div{background:#fff;width:100%;}
.input_div1{}
.input_div .left_img{border:0px;background:none;padding:2px 12px;font-size:25px;}
#departDate,#returnDate,#checkInDate,#checkOutDate{background:url("../images/calen-icon.png") 95% center no-repeat;}
.input_div .inpt_cont{border:0px;font-size:15px;border-left:1px solid rgba(0, 0, 0, 0.2);height:auto !important;padding:10px;box-shadow:none;color:rgba(74, 74, 74, 0.7);}
.input_div .select_cont{border:0px;height:auto !important;padding:0px;box-shadow:none;color:rgba(74, 74, 74, 0.7);}
.input_div button{border:none !important;background:none;}
.input_div button .filter-option{color:rgba(74, 74, 74, 0.7);}
.input_div button .bs-caret span.caret{border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #939ead;border-bottom:0px;}
.input_div button:hover{background:none;}

.bootstrap-select .dropdown-toggle:focus{outline:none !important;}
.input_div button.active,.input_div button.focus,.input_div button:active,.input_div button:focus,.input_div button:hover,.open > .dropdown-toggle.btn-default{background:none !important;outline:none !important;box-shadow:none;}

.extra_text{color:#fff;text-shadow:none;font-weight:500 !important;text-decoration:underline;font-size:13px;}
.extra_text:hover{color:#D0341E;outline:none;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.extra_text:focus{color:#D0341E;outline:none;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.btn-div{padding:8px 15px;background:#d35800;color:#fff;border-radius:0px;border:0;font-size:22px;text-transform:uppercase;}
.btn-div:hover,.btn-div:focus{background:#c24700;color:#fff;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}

.slider-indicater{width:16%;margin-left:0px;}
.search_engine h5{color:#fff !important;}
.checkbox-inline{color:#fff !important;}

ul.nav-stacked li a{background:rgba(255, 255, 255, 0.5);color:rgba(0, 0, 0, 0.8);padding:15px 5px 10px;text-align:center;font-size:14px;border-radius:0px;text-transform:uppercase;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
ul.nav-stacked li a .icn_plan{border:1px solid rgba(255, 255, 255, 0.5);border-radius:50%;padding:0.1em 0.3em;font-size:28px;}
ul.nav-stacked li a .icn_hotel{border:1px solid rgba(255, 255, 255, 0.5);border-radius:50%;padding:0.25em 0.3em;font-size:25px;}
ul.nav-stacked li a .icn_car{border:1px solid rgba(255, 255, 255, 0.5);border-radius:50%;padding:0.25em 0.3em;font-size:25px;}
ul.nav-stacked li a:hover{background:rgba(256, 256, 256, 0.5);color:rgba(0, 0, 0, 0.7);}
ul.nav-stacked li a:hover .icn_plan,ul.nav-stacked li a:hover .icn_hotel,ul.nav-stacked li a:hover .icn_car{border:1px solid rgba(0, 0, 0, 0.5);}
.nav-stacked > li.active > a .icn_plan,.nav-stacked > li.active > a .icn_hotel,.nav-stacked > li.active > a .icn_car{border:0;}
.nav-stacked > li.active > a,.nav-stacked > li.active > a:focus,.nav-stacked > li.active > a:hover{background:rgba(10, 22, 37, 0.8);color:#fff;outline:none;}

ul.rou_one_div{margin-bottom:20px;}
ul.rou_one_div li{padding:0px;margin:0px;cursor:pointer;}
ul.rou_one_div li a.round_text{background:none;text-transform:uppercase;font-size:15px;color:#fff;padding:10px 5px;text-align:center;display:block;margin-right:-4px !important;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
ul.rou_one_div li a.oneway_text{border:0;border-top-right-radius:4px;border-bottom-right-radius:4px;text-transform:uppercase;font-size:15px;color:#fff;padding:10px 15px;text-align:center;display:block;margin-left:1px;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;text-decoration:none;}
ul.rou_one_div li a.active{border-bottom:3px solid #f60 !important;background:none;color:rgba(256, 256, 256, 0.8);border:1px solid transparent;margin:0px;}
.checkbox-inline,.radio-inline{color:#fff;}
ul.rou_one_div li a:hover,ul.rou_one_div li a:active{background:none;outline:none;text-decoration:none;color:#fff;border-radius:0;border:1px solid transparent;}

.top_slide{padding:0px !important;}
.fill img{height:655px;width:100%;}
.text-bold{font-weight:400;color:#fff;}
.minus_margin_top{margin-top:-8px;}

.social_div{position:absolute;bottom:0;right:0;}
.social_div ul{margin:0px;}
.social_div ul li a{display:block;margin-left:-4px;}
.social_div ul li{padding:0px;margin-left:2px;}
.social_div ul li:fist-child{margin-left:0px;}
.social_div ul li a.share_text{background:rgba(256, 256, 256, 0.2);color:rgba(256, 256, 256, 0.8);text-transform:uppercase;font-size:20px;padding:10px 20px;text-shadow:1px 1px 1px #000000;}
.social_div ul li a.share_text span{font-size:14px;}
.social_div ul li a.social_text{background:rgba(256, 256, 256, 0.5);color:rgba(256, 256, 256, 0.9);font-size:20px;padding:10px 20px;text-shadow:1px 2px 1px #000000;}
.social_text:hover{background:#d0341e;}
.hotel_text{font-size:24px;color:#fff;padding-bottom:10px;text-align:center;}

.main_menu{position:static;}

ul.menu-stacked li a{background:rgba(0, 0, 0, 0);color:#000;padding:7px 10px;font-size:16px;text-transform:none;text-align:left;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;}
ul.menu-stacked li a .icn_plan{border:1px solid rgba(255, 255, 255, 0.3);border-radius:50%;padding:0.1em 0.3em;font-size:28px;}
ul.menu-stacked li a .icn_hotel{border:1px solid rgba(255, 255, 255, 0.3);border-radius:50%;padding:0.25em 0.3em;font-size:25px;}
ul.menu-stacked li a .icn_car{border:1px solid rgba(255, 255, 255, 0.3);border-radius:50%;padding:0.25em 0.3em;font-size:25px;}
ul.menu-stacked li a:hover{background:rgba(0, 0, 0, 0.1);color:rgba(0, 0, 0, 0.7);}
ul.menu-stacked li a:hover .icn_plan,ul.menu-stacked li a:hover .icn_hotel,ul.menu-stacked li a:hover .icn_car{border:1px solid rgba(0, 0, 0, 0.3);}
#searchPad a:focus{color:#000;background-color:transparent;}
.menu-stacked > li.active > a .icn_plan,.menu-stacked > li.active > a .icn_hotel,.menu-stacked > li.active > a .icn_car{border:1px solid rgba(0, 0, 0, 0.5);}
.menu-stacked > li.active > a,.menu-stacked > li.active > a:focus,.menu-stacked > li.active > a:hover{background:rgba(0, 0, 0, 0.2);color:rgba(0, 0, 0, 0.7);outline:none;}
.menu-stacked a span{float:right;}
.menu_sub ul{padding:0px;}
.menu_sub li{list-style:none;text-transform:none;position:relative;}
.menu_sub li a{font-size:13px;padding:0px 0px 8px 10px!important;}
.menu_sub li i{font-size:15px;position:absolute;left:0;top:0;}
.menu_sub li a:hover{text-decoration:underline;}
.menu_sub li a:focus{color:#000;}
.menu_read a{color:#0d8b9e !important;text-align:right;width:97%;float:left;margin-top:10px;text-decoration:underline!important;padding:5px 0px!important;}
.arrow_down{background:url(../images/arrow-down.jpg) right center no-repeat;background-color:#fff;-moz-appearance:none;border:none;-webkit-appearance:none;}
.arrow_down1{background:url(../images/arrow-down.jpg) right center no-repeat no-repeat;background-color:#fff;-moz-appearance:none;border:none;-webkit-appearance:none;}
.arrow_down2{background:url(../images/arrow-down.jpg) right center no-repeat;background-color:#fff;-moz-appearance:none;border:none;-webkit-appearance:none;}
.arrow_down3{background:url(../images/arrow-down.jpg) right center no-repeat;background-color:#fff;-moz-appearance:none;border:none;-webkit-appearance:none;}

.carousel{margin-bottom:0;padding:0px 40px;}
.carousel-control{left:-12px;}
.left_control{background-image:none !important;width:70px;top:30%;font-size:0px;height:70px;}
.carousel-control.right{right:-12px;}

.social_div2 h4 { font-size:24px; font-family:roboto;  }
.social_div2 h4 span { font-size:30px; color:#ffd048; text-shadow:1px 1px  #333; }

.social_div2 {
    position: absolute;
    right: 0;
    top: 65px;
	text-shadow:1px 1px 2px #333;
	color:#fff;
	width:58%;
}
.h2, h2 { font-size:26px; }
.deal-price2 { float: right; font-size: 20px; padding: 10px; margin-top: -40px; color: rgb(255, 102, 0); border-radius: 5px 5px 0px 0px; 
 background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; margin-right: -10px; }
 
.right_control{background-image:none !important;width:70px;top:30%;font-size:0px;height:70px;right:-6px !important;}
.carousel-indicators{right:50%;top:auto;bottom:0px;margin-right:-19px;}
.carousel-indicators li{background:#c0c0c0;}
.carousel-indicators .active{background:#333333;}

.page_center{max-width:1200px;margin:0px auto;position:relative;}

#banner .page_center{height:100%;overflow:hidden;position:relative;}
.socail_bg{background:#142d4b;float:left;width:100%;height:auto;padding-top:30px;padding-bottom:10px;}
.get_offer{font-size:20px;color:#fff;line-height:1;}
.subscribe{font-size:26px;color:#fff;font-weight:400;line-height:1.2;}
.fllow_us{font-size:24px;color:#fff;}
.inpt_cont{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:-moz-use-text-color -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.2);border-image:none;border-radius:2px;border-style:none none none solid;border-width:0 0 0 1px;box-shadow:none;color:rgba(74, 74, 74, 0.7);font-size:15px;height:auto !important;padding:11px 10px;}
.subsc_btn{background:#ec4150 none repeat scroll 0 0;border:1px solid #ec4150;border-radius:2px;color:rgba(255, 255, 255, 1);font-size:17px;padding:9px 20px;}
.subsc_btn:hover{transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;background:#d0341e;color:#fff;}

.facebook_btn{background:#3b5998 none repeat scroll 0 0;border:1px solid transparent;color:#fff;font-size:18px;padding:6px 12px;}
.google_btn{background:#dd4b39 none repeat scroll 0 0;border:1px solid transparent;color:#fff;font-size:18px;padding:6px 12px;}
.twitter_btn{background:#26a6d1 none repeat scroll 0 0;border:1px solid transparent;color:#fff;font-size:18px;padding:6px 12px;}
.pinterest_btn{background:#c8232c none repeat scroll 0 0;border:1px solid transparent;color:#fff;font-size:18px;padding:6px 12px;}

.fut-top{margin-top:50px;float:left;width:100%;}
.fut-nav{border-bottom:none;background:rgba(255, 255, 255, 0.1);}
.fut-nav li{margin:0px;border-right:1px solid #4e4e4e;}
.fut-nav li a{font-size:16px;background:none;border-radius:0px;color:#ffffff;margin:0px;}
.fut-nav > li.active > a,.fut-nav > li.active > a:focus,.fut-nav > li.active > a:hover{font-size:16px;background:rgba(255, 255, 255, 0.1)!important;border:none;color:#ffffff;padding:6px 20px 11px;}
.fut-nav > li > a:focus,.fut-nav > li > a:hover{font-size:16px;background:rgba(255, 255, 255, 0.1)!important;border:none;color:#ffffff;padding:11px 16px;}
.fut-nav li:last-child{border-right:none;}
.fut-nav > li.active a i{transform:rotate(-90deg);margin-left:10px;padding-top:5px;}
.fut-nav > li a i{margin-left:10px;transform:rotate(90deg);}
.foter_ul{padding:0px;margin-top:30px;}
.foter_ul li{list-style:none;padding:3px 0px;}
.foter_ul li a{color:#929292;font-size:14px;}
.foter_ul li a:hover{color:#fff;}
.foter_ul li i{transform:rotate(45deg);padding-right:5px;color:#929292;}
.treave_seas h5{margin-top:30px;font-size:18px;color:#fff;}
.treave_seas ul{padding:0px;}
.treave_seas ul li{list-style:none;padding:3px 0px;}
.treave_seas ul li a{color:#929292;font-size:14px;}
.treave_seas ul li a:hover{color:#fff;}
.treave_seas ul li i{transform:rotate(45deg);padding-right:5px;color:#929292;}
.fot_sub{background:rgba(255, 255, 255, 0.1);width:100%;float:left;min-height:100px;height:auto;border-top:1px solid rgba(255, 255, 255, 0.1);margin-top:30px;}
.fot_sub_ul{padding:0px;margin-top:30px;margin-bottom:20px;margin-left:10px;}
.fot_sub_ul li{list-style:none;padding:3px 0px;}
.fot_sub_ul li a{color:#929292;font-size:14px;}
.fot_sub_ul li a:hover{color:#fff;}
.fot_sub_ul li i{padding-right:5px;color:#929292;width:20px;}
.foter_mid_sec{background:#f2f1f1;float:left;padding:30px 0px;width:100%;}

.bx-wrapper,.bx-window{width:100% !important;}

#slider{list-style:none;padding:0px;}
#slider img{height:auto;margin:0px;display:inline-block;padding-left:10px;}
#slider img:hover{filter:inherit;-webkit-filter:inherit;opacity:1;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}
#slider li{text-align:center;float:left;padding-right:18px;margin:0% 2.5%;height:40px;border-right:1px solid #bbbbbb;color:#666;}
#slider li:last-child{border-right:none;}

.pager{margin:0px;}
.discalmer{margin-top:10px;color:#8c8c8c;padding:0px 25px 20px 25px;border-bottom:1px solid rgba(255, 255, 255, 0.1);text-align:justify;}
.discalmer h6{color:#fff;font-size:20px;}
.copy_right{color:#8c8c8c;font-size:14px;font-family:Arial, Helvetica, sans-serif;padding:30px 0px;text-align:center;}

#banner{width:100%;position:relative;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:center center;background-repeat:no-repeat;min-height:630px;height:auto;color:#000;background-color:#fff;}
#hotels{width:100%;background:url(../images/hotel-slider/hotel-bg.jpg) no-repeat center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
#footer-bg{width:100%;background:url(../images/footer_bg.jpg) no-repeat center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}

.cd-fixed-bg.cd-bg-2{background-image:url("../images/hotel-slider/hotel-bg.jpg");}
.cd-fixed-bg.cd-bg-3{background-image:url("../images/footer_bg.jpg");}

.overlay{height:auto;width:85%;display:none;position:absolute;z-index:1;top:50px;right:7%;background-color:rgba(255, 255, 255, 1);overflow-x:hidden;box-shadow:0 5px 8px rgba(0, 0, 0, 0.5);}
.overlay-content{position:relative;top:25%;width:100%;text-align:center;margin-top:30px;}
.overlay a{padding:8px;text-decoration:none;font-size:36px;color:#818181;display:block;transition:0.3s;}
.overlay a:hover,.overlay a:focus{color:#f1f1f1;}
.overlay .closebtn{position:absolute;top:-16px !important;right:15px;font-size:35px;color:#000;}
.img-responsive-bg{height:296px;background:url(../images/app-bg.jpg) center center no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}

.app-button{padding:15px;width:100%;float:left;}
.app-button a{float:left;margin-right:15px;}
.row-flex{width:100%;display:-webkit-flex;display:flex;}
.row-flex .col-sm-4{-webkit-flex:1;-ms-flex:1;flex:1;}



.shrink{background:rgba(256, 256, 256, 1) !important;box-shadow:0 0 5px rgba(0, 0, 0, 0.5);-webkit-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;transition:0.5s;}
.dropdown-toggle1{cursor:pointer;z-index:15;position:absolute;right:10px;top:10px;display:block;width:29px;transition:0.2s;overflow:hidden;}
.dropdown-toggle1 span{display:block;height:2px;text-indent:-9999px;background:rgba(0, 0, 0, 1);position:absolute;top:50%;right:20%;left:20%;transition:0.2s;}
.dropdown-toggle1 span:before,.dropdown-toggle1 span:after{display:block;width:100%;height:2px;content:'';background-color:rgba(0, 0, 0, 1);transition-duration:0.2s, 0.2s;position:absolute;left:0;}
.dropdown-toggle1 span:before{top:-5px;transition-property:top, transform;}
.dropdown-toggle1 span:after{bottom:-5px;transition-property:bottom, transform;}
.dropdown-toggle1.active span{background:none;}
.dropdown-toggle1.active span:before,.dropdown-toggle1.active span:after{transition-delay:0s, 0.2s;}
.dropdown-toggle1.active span:before{top:0;transform:rotate(45deg);}
.dropdown-toggle1.active span:after{bottom:0;transform:rotate(-45deg);}

.guide_phn_div li.dropdown_1::after{width:0%;}

.login_tab li a{color:rgba(0, 0, 0, 0.5);padding:10px 0px;font-weight:bold;margin-right:25px;text-transform:uppercase;border-bottom:2px solid transparent;-webkit-transition:ease-in-out, width .5s ease-in-out;transition:ease-in-out, width .5s ease-in-out;-moz-transition:ease-in-out, width .5s ease-in-out;-ms-transition:ease-in-out, width .5s ease-in-out;-o-transition:ease-in-out, width .5s ease-in-out;}
.login_tab li a::after{content:'';display:block;width:0;height:2px;background:#f97001;transition:width .5s;-moz-transition:width .5s;-ms-transition:width .5s;-o-transition:width .5s;-webkit-transition:width .5s;position:relative;top:12px;}
.login_tab li a:hover::after{width:100%;}
.login_tab li a:hover{color:rgba(0, 0, 0, 0.8);border-top:1px solid transparent !important;border-bottom:2px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;background:none !important;}
.login_tab > li.active > a,.login_tab > li.active > a:focus,.login_tab > li.active > a:active{border-bottom:2px solid #f97001 !important;color:rgba(0, 0, 0, 0.8) !important;background:none !important;border-left:1px solid transparent !important;border-right:1px solid transparent !important;border-top:1px solid transparent !important;border-radius:0px;outline:none;}
.login_input_div{height:auto;padding:10px 12px;border-radius:0px;font-size:15px;}

.forgt_text{color:rgba(0, 0, 0, 0.5);}
.forgt_text:hover{color:#f97001;text-decoration:none;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}

.btn_logn{background:#0b638b;border-radius:0px;color:#fff;font-size:16px;font-weight:bold;}
.btn_logn:hover,.btn_logn:focus{background:#f97001 !important;color:#fff !important;outline:none;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;}
.btn_facebook{background:#3b5998;border-radius:0px;color:#fff;font-size:14px;font-weight:bold;}
.btn_google{background:#dd4b39;border-radius:0px;color:#fff;font-size:14px;font-weight:bold;}
.btn_twitter{background:#55acee;border-radius:0px;color:#fff;font-size:14px;font-weight:bold;}
.btn_facebook:hover,.btn_google:hover,.btn_twitter:hover{background:#f97001 !important;color:#fff !important;outline:none;transition:all ease 0.8s;-moz-transition:all ease 0.8s;-ms-transition:all ease 0.8s;-o-transition:all ease 0.8s;-webkit-transition:all ease 0.8s;}
.login_padding{padding:0 40px 22px;}
.popu_width{width:750px;background:#e9c044;}
.popup_heght{min-height:408px;height:auto;}

.register_div{min-height:408px;height:auto;padding-top:75px ! important;background:#e9c044;}

.support_div{min-height:408px;height:auto;background:#e9c044;}

.line-height-30{line-height:30px;}

.cls_btn{font-size:40px;line-height:21px;}

ul.toggle_list li{position:relative;padding-bottom:5px;}
ul.toggle_list li a{font-size:14px;color:#6d6d6d;margin:0px;padding:5px 12px !important;}
ul.toggle_list li a .fa{font-size:13px;color:#6d6d6d;transform:rotate(45deg);-moz- transform:rotate(45deg);-webkit- transform:rotate(45deg);padding-right:5px;}
ul.toggle_list li a:hover,ul.toggle_list li a:hover .fa{color:#f97001 !important;text-decoration:none;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;}
a:hover{text-decoration:none;}

.city_first{background-color:#eeeeee;height:auto;padding-bottom:0px;}
.city_book_with{border:1px solid #d7d7d7;min-height:100px;height:auto;float:left;width:100%;background-color:#fff;margin-top:15px;padding:20px;}
.city_book_with h4{padding-top:0px;font-size:25px;color:#484848;font-family:'Roboto-Regular';}
.city_book_with h4 span{border-bottom:3px solid #055572;padding-bottom:5px;}
.city_book_with ul li{background-image:url(../images/check-icon.png);background-repeat:no-repeat;padding:5px 0px;background-position:0px 13px;}
.city_book_with ul{margin-top:30px;}
.city_book_with ul li span{display:inline-block;padding-left:23px;font-size:17px;color:#505050;font-family:'Roboto-Regular';}
.city_trvel_sel select{background-color:#fff;height:35px;display:inline-block!important;border:none;-moz-appearance:none;width:100%;-webkit-appearance:none;background-image:url(../images/slect-icon.png);background-repeat:no-repeat;background-position:right;font-size:18px;color:#979797;padding-left:20px;}
.city_city_sel select{background-color:#fff;height:35px;display:inline!important;border:none;width:100%;-moz-appearance:none;-webkit-appearance:none;width:100%;background-image:url(../images/slect-icon.png);background-repeat:no-repeat;background-position:right;font-size:18px;color:#979797;padding-left:10px;margin-bottom:30px;}

.search-btn{background-color:#fdb72f;color:#000;padding:20px;text-align:center;width:100%;float:left;min-height:40px;height:auto;border:none;font-size:26px;text-shadow:1px 2px 1px #fecf85;}
.city_right_bg{
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 50%;
    float: right;
    height: 280px;
    min-height: 100px;
    padding: 45px 20px;
    right: 0;
    width: 280px;box-shadow:0 0 1px 5px rgba(255, 255, 255, 0.2); } 
.city_right_bg:hover{box-shadow:0 0 30px #fff; }
.city_right_date img{-moz-outline-radius:4px;outline:1px solid rgb(255, 255, 255);outline-offset:-1px;}
.city_right_top_text{font-size:14px;text-align:center;color:#9c9b9b;text-transform:uppercase;}
.city_right_flight{font-size:20px;text-align:center;color:#ffffff;margin-bottom:0px;}
.city_right_best_price{width:100%;color:#eaeaea;font-size:16px;text-transform:uppercase;}
.city_right_price{width:100%; color:#fdb72f;font-size:38px;text-transform:uppercase;text-align:center;}
.city_right_date{ border-radius:25px;min-height:10px;height:auto;float:left;width:100%;color:#fff;text-transform:uppercase;font-weight:bold;font-size:12px;letter-spacing:1px;padding:2px 5px;line-height:33px;text-align:center;}

.broadcram{padding:10px 0px;}
.broadcram a{padding:0px 5px;}

.cityline_head{width:100%;float:left;min-height:100px;height:auto;margin-bottom:20px;}
.cityline_head h1{font-size:30px;font-family:'Roboto-Regular';color:#000;margin-top:5px;}
.cityline__sub_text{color:#414040;font-size:25px;font-family:'Roboto-Regular';margin-bottom:15px;}
.cityline__sub_text span{border-bottom:3px solid #f97001;padding-bottom:5px;}
.city_deal{display:inline-block;min-height:20px;height:auto;background-color:#fff;border-radius:5px;width:100%;padding:9px 0px;margin-bottom:5px;cursor:pointer;}
.city_deal_date{font-size:15px;color:#0065b8;float:left;font-weight:400;width:100%;}
.city_deal_city{font-size:16px;font-weight:700;text-transform:uppercase;color:#616161;text-align:left;}
.city_deal_state{font-size:15px;text-transform:none;font-weight:normal;width:100%;display:inline-block;}
.city_deal_price{font-size:14px;color:#000;font-weight:700;text-align:right;}
.city_deal_return{width:100%;color:#999999;font-size:14px;font-weight:normal;float:left;}
.city_pad-rt{padding-left:0px!important;padding-right:10px;}
.city_deal hover{box-shadow:0 15px 10px #777;}
.city_pad-rt1{padding-left:5px!important;padding-right:0px!important;}
.city_content_bg{border:1px solid #cccccc;display:inline-block;min-height:200px;height:auto;padding:20px;}
.cityline_cont_text{color:#414040;font-size:21px;font-family:'Roboto-Regular';margin-bottom:5px;}
.cityline_cont_text span{border-bottom:3px solid #f97001;padding-bottom:5px;}
.city_content_bg h2{font-size:26px;font-family:'Roboto-Regular';color:#000;margin-top:5px;margin-bottom:5px;}
.city_content_bg h2 span{border-bottom:3px solid #f97001;padding-bottom:5px;}
.city_name{font-size:18px;font-weight:bold;margin-top:5px;}
.city_name p{padding:5px 0px 20px 0px;text-align:justify;}
.city_happy_bg{color:#fe7316;text-align:center;font-size:35px;}
.city_happy_first{font-size:40px;font-weight:bold;text-align:center;}
.city_happy_text{font-size:18px;text-align:center;}
.city_deal_slider{float:left;width:100%;background-color:#fff;border:1px solid #ccc;height:auto;padding:20px 40px!important;}
.city_deal_name{border-bottom:1px solid #eeeeee;padding-bottom:15px;}
.city_deal_text{font-size:16px;padding-top:15px;color:#333333;text-align:center;}
.city_slider_price{color:#39af4a;text-align:center;font-size:24px;font-weight:700;padding-top:10px;}
.city-heading{font-size:30px;margin-top:0px;margin-bottom:5px;font-family:'Roboto-Regular';color:#000;padding:10px 0px;}
.city_domesti{margin-top:25px;padding:0px;}
.city_domesti li{color:#535353;padding-bottom:10px;list-style:none;}
.city_domesti li i{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.city_domesti li a{color:#535353;padding-left:5px;transition:padding-left 0.5s;font-size:14px;}
.city_domesti li a:hover{color:#f97001;text-decoration:none;padding-left:15px;}
.city_gry_bg{background-color:#eeeeee;height:auto;;padding-bottom:10px;float:left;width:100%;}
.cty_info_bg{padding:30px 0px;background-color:#fff;margin:10px 0px 0px 0px!important;padding:15px;height:auto;width:100%;float:left;}
.city_about_hd{text-align:justify;height:auto;padding-right:0px;}
.city_about{margin-top:0px;font-size:20px;color:#666666;margin-bottom:15px;}

.city_wether_bg{margin-top:10px;width:100%;float:left;}
.city_wether_tod{font-size:16px;color:#666666;}
.city_wether_ft{font-size:40px;color:#666666;word-spacing:-10px;}
.city_wether_cor{color:#666}
.city_deal img { outline: 1px solid rgb(255, 255, 255); outline-offset: -1px; -moz-outline-radius: 4px;  }

.city_panel{height:380px !important;}
.city_panel p{color:#000;}

.city_about_hd h5{font-size:18px;font-weight:500;}
.city_about_hd h6{font-size:16px;font-weight:500;}
.city_about_hd ul{padding-left:15px;}
.city_about_hd ul li{margin-right:20px;}
.city_book_now{ background: #f60 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 12px;
    font-weight: 300;
    padding: 4px !important;
    text-align: center; width:75px;}
.air_right_best_price{ color:#eaeaea;font-size:16px;text-transform:uppercase;}
.air_right_best_price2 { color:#e5325b;text-transform:capitalize;font-size:26px;margin-top:10px; line-height:15px; }
.air_right_price{ color:#fdb72f;font-size:50px;text-transform:uppercase;font-family:'Roboto-Bold';text-align:center;}
.slid_thum{padding:0px;}
.slid_right{padding-right:25px;}
.thum_bg{padding:10px 0px 20px 0px;}
.text-d-gray{color:#3f3f3f;}
.text-l-gray{color:#747474;}
.left_orange_bar{height:2px;width:20px;display:block;background:#f97001;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.about_orange_bar{height:3px;width:45px;display:block;background:#f97001;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.prv_btn,.nxt_btn{position:relative;}
.btn-prvs{background:rgba(220, 220, 220, 1);border-radius:0px;margin-right:0px;}
.btn-nxt{background:rgba(220, 220, 220, 1);border-radius:0px;}
.prv_btn i,.nxt_btn i{color:rgba(0, 0, 0, 0.6);}
.nxt_btn{right:0!important;}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus{outline:none !important;}
.top_deals_1{background-position:center center !important;-webkit-background-position:center center !important;background-size:cover !important;-webkit-background-size:cover !important;width:100%;height:auto;}
.top_deals_1 img{margin-left:1px;}
.thumbnail_effect:hover{background:#fff;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.thumbnail_effect:hover .left_orange_bar{width:50px;transition:all ease 0.5s;-moz-transition:all ease 0.5s;-ms-transition:all ease 0.5s;-o-transition:all ease 0.5s;-webkit-transition:all ease 0.5s;}
.help_no{color:#000;font-size:13px;font-family:Arial;padding-left:2px;}
.help_no span{font-size:10px;padding:0px 1px;}
.blue-head3{font-size:20px;}
.margin-xs-top{margin-top:25px;}


/*PPc style*/
.social_div2 { position: absolute;  right: 0;  top: 65px; color:#fff; text-shadow:1px 1px 2px #000;	width:58%;}
.deal-price2 ( float: right; font-size: 20px; padding: 10px; margin-top: -40px; color: rgb(255, 102, 0); border-radius: 5px 5px 0px 0px; 
background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; margin-right: -10px; )

.padding-tb{ padding:20px 0px; overflow:hidden;}

.air_right_bg {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    float: right;
    height: auto;
    min-height: 100px;
    padding: 10px;
    right: 0;
    top: 487px;
    width: 260px;
}
.air_right_top_text {
    color: #9c9b9b;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.air_right_flight {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.air_right_best_price {
    color: #eaeaea;
    font-size: 16px;
    text-transform: uppercase;
}
.air_right_price {
    color: #fdb72f;
    font-family: "Roboto-Bold";
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}
.air_right_date {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    color: #000;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: 1px;
    line-height: 33px;
    min-height: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    width: 100%;
}

.customer-review ,.terms-condition{ padding: 20px 0px; margin:20px 0px; line-height:25px;}
.textsummeryBox{ line-height:25px;}
.textList{ margin:0px; padding:0px;}
.textList li { list-style:none;
    line-height: 26px;
   background: url(/resources/images/thicIcon.gif) left 8px no-repeat;
    padding-left: 25px;
}
.help_no { font-family:roboto; }


#myNav{z-index:20;}
.dropdown { display:none !important; }
.toll-free { padding-right:0 !important; } 


@media only screen and (min-width:992px) and (max-width:1200px){#banner{background-position:center!important;}
 .toll-free a{font-size:20px !important;font-weight:700!important;padding:5px!important;}
 .guide_phn_div > li:after{display:none;}
 .tavel_macp_abt{padding:10px;}
 .tavel_macp_btn{margin:10px;}
 .travel_ins_head, .travel_macp_head, .app_deal{font-size:16px;}
 .app_deal_text{font-size:14px;}
 .app_deal_right_pic{width:100px;}
 .app_deal_text{width:calc(100% - 100px);}
 .app-button{padding:5px;}
 .app-button a{width:calc(50% - 15px);}
 .img-responsive-bg{height:240px;}
 .center_mid_line_text{width:54%;}
 .social_div2 { width:45% !important; }
 .special_deal_bg{height:226px;padding:15px 0px;}
 .right_control{right:-10px !important;}
 .get_offer{font-size:17px;}
 .fllow_us{font-size:16px;}
 .facebook_btn, .google_btn, .twitter_btn, .pinterest_btn{font-size:13px;padding:6px 10px;}
 #slider li{margin:0px;padding:0px 4px;}
 #slider img{padding:0px;}
 .menu_read a{width:87%;}
 .social_div, .social_div2 { right:20px !important;}
}
@media only screen and (min-width:768px) and (max-width:991px){#banner{background-position:center!important;  }
 .toll-free{padding:8px;}
 .toll-free a{font-size:20px !important;font-weight:700!important;padding:5px!important;}
 .guide_phn_div > li:after{display:none;}
 .guide_phn_div > li{margin:0px;}
 ul.menu-stacked li a{font-size:13px;}
 .menu_sub li a{font-size:12px;}
 .menu_sub li i{font-size:12px;}
.social_div2 { width:45% !important; }
 .social_div ul li a.share_text{padding:10px;}
 .social_div ul li a.social_text{padding:10px;}
 .domestic_dea_text{height:40px;padding:8px 0px;font-size:16px;}
 .special_deal{height:40px;padding:8px 0px;font-size:16px;}
 .special_deal_bg{height:207px;padding:28px 0px;}
 .hotel_thum{font-size:12px;}
 .hotel_sub_thum{font-size:12px;}
 .hotel_sub_thum p span{font-size:14px;}
 .right_control{right:-11px !important;top:25%;}
 .get_offer{font-size:17px;}
 .socail_bg{padding-bottom:25px;}
 .fut-nav > li.active > a, .fut-nav > li.active > a:focus, .fut-nav > li.active > a:hover{font-size:14px;padding:6px 15px 10px;}
 .fut-nav li a{font-size:14px;}
 #slider li{height:60px;border-right:none;padding-left:60px;padding-right:25px;}
 .foter_mid_sec{padding-top:15px;padding-bottom:0px;}
 .center_mid_line_text{font-size:24px;width:50%;top:-18px;}
 .margin-sm-top{margin-top:30px;}
 .img-responsive-bg{height:235px;}
 .app-button{position:absolute;left:0px;bottom:20px;}
 .input_div .inpt_cont{font-size:15px;padding:10px;}
 .img-responsive{width:100%;}
 .nav-wrapper{height:50px;}
 .guide_phn_div > li a{padding:13px 4px;font-size:13px;}
 .navbar-header{width:145px;}
 .logo_width{padding:0px;}
 .fut-nav > li > a:focus, .fut-nav > li > a:hover{font-size:14px;}
 .city_content_bg h2{font-size:22px !important;}
 .img-small{width:50%;}
 .city-heading{font-size:24px!important;}
 .menu_read a{width:87%;}
 .city_deal_date, .city_deal_state { font-size:13px; }
}
@media only screen and (min-width:0px) and (max-width:767px){
.bg_trnsprnt{background:rgba(255, 255, 255, 1);}
 .toll-free a{font-size:20px !important;}
 ul.nav-stacked li a{float:left;padding:10px 10px 10px;width:33.3%;}
 .m-left{padding-left:0px;padding-right:5px;}
 .m-right{padding-left:8px;padding-right:0px;}
 .m-padding{padding:0px;}
 .search_engine{margin:90px 0 0 0;}
 .social_div{display:none;}
 .h2, h2 { font-size:18px; }

.tavel_macp_btn{ margin: 0px 0px 20px 25px;}
 .app-button{width:auto;margin-right:-15px;}
 .app-button a{width:calc(50% - 15px);mar }
 .app_deal_text{font-size:13px;width:150px;}
 .app_deal_right_pic{width:100px;}
 .center_mid_line_text{width:90%;}
 .left_control{top:0px;width:80px;}
 .right_control{top:0px;}
 .nav-stacked > li + li{margin:0px;}
 ul.nav-stacked li a{height:90px;}
 .hotel_text{font-size:20px;}
 .border-white{border:1px solid #fff; margin:5px 0;}
 .bg-white{background-color:#f07d00;}
 .guide_phn_div > li a{padding:10px;}
 .toll-free{padding:0px;}
 #banner{background-position:5% center!important; }
 .input_div .inpt_cont{font-size:14px; }
 ul.rou_one_div li a.round_text{padding:10px 8px;font-size:13px;}
 ul.rou_one_div li a.oneway_text{padding:10px 8px;font-size:13px;}
 .dyntncdate .blueHead2 { font-size:20px; }
 
 
 
}
@media screen and (max-height:450px){.overlay a{font-size:20px }
 .overlay .closebtn{font-size:30px;top:15px;right:35px;}

}

