


.engin_div {
    background: rgba(255, 255, 255, 0.8) !important;
    z-index: 1;
}
.search_engine { margin-top: 140px;
   
    input[type="text"], select {border:1px solid #c7c7c7 !important; height: 42px;}
    .btn-div {height: 42px;}
}
/*hotel*/
.hotel-heading { color: #31164c; margin: 50px 0; padding: 0; font-size: 24px; text-align: center; font-weight: 500;}
a {
    .hotel-destination { position: relative;
    .hotel-desti { width: 100%; float:left; padding: 15px 10px; position: absolute; top: 120px;
        .destination-name { width:100%; float:left; color: #fff; font-size: 18px; font-weight: 700;}
        .dest-from { width: 100%; float:left; color: #fff; }
        .dest-price { width: 100%; float:left; color: #fff; font-size: 20px; font-weight: 700;  margin: 15px 0;  }
        .bookn{ display: inline-block; border-radius: 3px; background: #fff; text-align: center; color: #000; padding: 4px 15px; text-transform: uppercase;}
    }
}
}

a {
    .flight-destination { border:1px solid #ccc; overflow: hidden; border-radius: 5px; width: 100%; float:left;
    .hotel-desti { width: 100%; float:left; padding: 15px 10px 5px; 
        .destination-name { width:60%; float:left; color: #484848; font-size: 14px; font-weight: 600;
            span {display: block; float:left; font-size: 12px; color: #ccc;}
        }
       /* .dest-from { width: 100%; float:left; color: #fff; }*/
        .dest-price { width: 40%; float:left; color: #484848;  text-align: center;  margin: 0px;  
            .starting {font-size: 12px; width: 100%; float:left;}
            .vtprice{font-size: 15px;font-weight: 600;width: 100%; float:left; }
            
        
        }
        .bookn{ display: inline-block; border-radius: 3px; background: #fff; text-align: center; color: #000; padding: 4px 15px; text-transform: uppercase;}
    }
        .vt-location { width: 100%; float:left; font-size: 12px; padding: 0px 10px 15px; color: #9a9a9a;}
}
}
/*car*/
.crdeals { margin-bottom: 100px;
    .car-heading { color: #31164c; margin: 50px 0 50px; padding: 0; font-size: 24px; text-align: center; font-weight: 500; }
}
.car-section {border:1px solid #c7c7c7;
    figure { background: #fff; border-bottom: 1px solid #c7c7c7; min-height: 170px; padding-top: 20px;}
    .city-name {width: 100%; float:left; padding: 10px 10px 0px; 
        .name-b {width: 70%;float:left;color: #000; font-size: 16px; font-weight: 500; line-height: 1.0; }
        .car-price {width: 30%;float:left;color: #000;font-size: 16px; text-align: right;font-weight: 500; line-height: 1.0;
            small {color: #8b8a8a; font-size: 12px;}
        }
    }
    
    
    .price-section {width: 100%;float:left; padding: 0px 10px 10px; 
        .car-type {width: 20%;float:left;}
        .car-name {width: 80%;float:left; color: #8b8a8a;}
    }
}
.clr {clear: both;}

@media only screen and (max-width: 992px) {.search_engine { margin-top: 75px;}}

@media only screen and (max-width:767px){.search_engine { margin-top: 20px;}}
/*end car*/
@import "common/footer"; 


.excl-hotels-deals {padding: 20px 0px; width: 100%; float:left;
    .slick-prev {top: 125px;width: 50px;height: 50px; border-radius: 50%;left:-15px;background: #fff; border:1px solid #ccc;
    &:before {font-size: 30px; color: #000;}
    }
    .slick-next{top: 125px;width: 50px;height: 50px;border-radius: 50%; right:-15px;background: #fff; border:1px solid #ccc;
     &:before {font-size: 30px;color: #000;}
    }
}
 @media only screen and (max-width: 767px) {
   .excl-hotels-deals .slick-prev {left:0px;}
     .excl-hotels-deals .slick-next {right:0px;}
     
}
