@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u7bq9y');
  src:  url('fonts/icomoon.eot?u7bq9y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u7bq9y') format('truetype'),
    url('fonts/icomoon.woff?u7bq9y') format('woff'),
    url('fonts/icomoon.svg?u7bq9y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #666;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e900";
}
.icon-passenger:before {
  content: "\e901";
}
.icon-best-price:before {
  content: "\e902";
}
.icon-door .path1:before {
  content: "\e903";
}
.icon-door .path2:before {
  content: "\e904";
}
.icon-door2:before {
  content: "\e905";
}
.icon-secure-payment:before {
  content: "\e906";
}
.icon-luggage:before {
  content: "\e907";
}
.icon-transmission-a:before {
  content: "\e908";
}
.icon-transmission-m:before {
  content: "\e909";
}
.icon-transmission:before {
  content: "\e90a";
}
.icon-support:before {
  content: "\e90b";
}
.icon-airline:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e90d";
}
.icon-apple:before {
  content: "\e90e";
}
.icon-arrow:before {
  content: "\e90f";
}
.icon-bellhop:before {
  content: "\e910";
}
.icon-bottled-water:before {
  content: "\e911";
}
.icon-Breakfast:before {
  content: "\e912";
}
.icon-calender:before {
  content: "\e913";
}
.icon-call:before {
  content: "\e914";
}
.icon-casino:before {
  content: "\e915";
}
.icon-chair:before {
  content: "\e916";
}
.icon-childcare:before {
  content: "\e917";
}
.icon-coffee:before {
  content: "\e918";
}
.icon-coffeemaker:before {
  content: "\e919";
}
.icon-concierge:before {
  content: "\e91a";
}
.icon-cross:before {
  content: "\e91b";
}
.icon-currency-exchange:before {
  content: "\e91c";
}
.icon-dry-cleaning:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e91e";
}
.icon-filter:before {
  content: "\e91f";
}
.icon-fishing:before {
  content: "\e920";
}
.icon-fitness-center:before {
  content: "\e921";
}
.icon-free-early-check-in:before {
  content: "\e922";
}
.icon-free-wifi:before, .icon-wifi:before {
  content: "\e923";
}
.icon-free-wireless-internet:before {
  content: "\e924";
}
.icon-gift:before {
  content: "\e925";
}
.icon-good-showers:before {
  content: "\e926";
}
.icon-google-plus:before {
  content: "\e927";
}
.icon-gym:before {
  content: "\e928";
}
.icon-hair-dryer:before {
  content: "\e929";
}
.icon-health-shield:before {
  content: "\e92a";
}
.icon-housekeeping:before {
  content: "\e92b";
}
.icon-indoor-swimming-pool:before {
  content: "\e92c";
}
.icon-info:before {
  content: "\e92d";
}
.icon-insta:before {
  content: "\e92e";
}
.icon-Library:before {
  content: "\e92f";
}
.icon-like:before {
  content: "\e930";
}
.icon-location:before {
  content: "\e931";
}
.icon-luxury-bedding:before {
  content: "\e932";
}
.icon-medical-service:before {
  content: "\e933";
}
.icon-microwave:before {
  content: "\e934";
}
.icon-newspaper:before, .icon-free-newspaper:before {
  content: "\e935";
}
.icon-next:before {
  content: "\e936";
}
.icon-on-site-restaurant:before {
  content: "\e937";
}
.icon-parking:before, .icon-free-parking:before {
  content: "\e938";
}
.icon-pets-allowed:before {
  content: "\e939";
}
.icon-rating:before {
  content: "\e93a";
}
.icon-refrigerator:before {
  content: "\e93b";
}
.icon-room-service:before {
  content: "\e93c";
}
.icon-satellite-internet-access .path1:before {
  content: "\e93d";
}
.icon-satellite-internet-access .path2:before {
  content: "\e93e";
  margin-left: -1em;
}
.icon-satellite-internet-access .path3:before {
  content: "\e93f";
  margin-left: -1em;
}
.icon-satellite-internet-access .path4:before {
  content: "\e940";
  margin-left: -1em;
}
.icon-satellite-internet-access .path5:before {
  content: "\e941";
  margin-left: -1em;
}
.icon-satellite-internet-access .path6:before {
  content: "\e942";
  margin-left: -1em;
}
.icon-satellite-tv:before {
  content: "\e943";
}
.icon-shield:before {
  content: "\e944";
}
.icon-shuttle:before {
  content: "\e945";
}
.icon-shuttle-service:before {
  content: "\e946";
}
.icon-snapchat:before {
  content: "\e947";
}
.icon-sort:before {
  content: "\e948";
}
.icon-spa:before {
  content: "\e949";
}
.icon-sport:before {
  content: "\e94a";
}
.icon-swimming-pool:before {
  content: "\e94b";
}
.icon-television-set:before {
  content: "\e94c";
}
.icon-toiletries:before {
  content: "\e94d";
}
.icon-towel:before {
  content: "\e94e";
}
.icon-twitter:before {
  content: "\e94f";
}
.icon-user:before {
  content: "\e950";
}
.icon-vending-machines:before {
  content: "\e951";
}
.icon-wheelchair:before {
  content: "\e952";
}
.icon-youtube:before {
  content: "\e953";
}
.icon-zoom:before {
  content: "\e954";
}
