$assetPath: "../../../images";

$black:         #000000; 
$violet:        #4e4e4e;
$red:           #f77f1e;
$yellow:        #fece00;
$lightyellow:   #fcf3d1;
$gray :         #4e4e4e;
$graylight :    #cccccc;
$white:         #ffffff;
$green:         #52beaf;
$offer:         #dd5151;

$label-one-bg: rgba(0,0,0, 0.3);
 
.violet{color: $violet}
.crGreen, .green{color: $green} 
.cffGreen{ color: $green}
.cffRed, .red{color: $red}
.red-error{color: $red} 
.cffBlue, .blue {color: #0073c3}